<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" version="2011-07-08">
  <name>Linkify</name>
  <description>Creates HTML links from plain text URL's.</description>
  <author>Márcio Faustino</author>
  <icon src="icon.png"/><!-- http://www.fatcow.com/free-icons -->
  <license href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>
</widget>
